<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Akintade Britto">
    <meta name="description" content="A django REST api-driven web app">

    <title>Sign-up | My Django News</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
         {{ field.label_tag }}<br>
         {{ field }}
         {% if field.help_text %}
           <small style="color: grey">{{ field.help_text }}</small>
         {% endif %}
         {% for error in field.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</body>
</html>
