<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Akintade Britto">
    <meta name="description" content="A django REST api-driven web app">

    <title>Login | My Django News</title>

</head>


<body>
  <h2>Login Page</h2>
  <br>
  <form method="post" >
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" >
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Login" class="button">
  </form>
</body>
</html>
